<!--
Name :Rutvik patel
200305366-->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
  <footer class="footer-distributed">

			<div class="footer-right">

				<a href="https://www.facebook.com/rutvik.patel.188"><i class="fa fa-facebook"></i></a>
                
				<a href="https://www.linkedin.com/in/rutvik-patel-7214a5b4?trk=hp-identity-name"><i class="fa fa-linkedin"></i></a>
			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="/">Home</a>
					|
					<a href="/about">About me</a>
					|
					<a href="/contact">Contact</a>
					
				</p>

				<p font-color="white">Rutvik Patel</p>
			</div>

		</footer>
</html>