<!--
Name :Rutvik patel
200305366-->
<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <title><%= title %></title>
        <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
        <link rel='stylesheet' href='/Content/app.css' />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  </head>
  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i>
</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/about">About Me</a></li>
        <li class="active"><a href="/project">Project</a></li>
        <li class="active"><a href="/contact">Contact</a></li>
        <li class="active"><a href="/interest">Interest</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

