<!--
Name :Rutvik patel
200305366-->
<% include partials/header.ejs %>
    <main class="container">
    <h1><%= title %></h1>
    <p>
        <img src ="images\12087308_10200715544369093_2238728110767406428_o.jpg" height=450 weight=900 alt="No image availabe" />
        </p>
       <p>
    I am Rutvik Patel basically from India.I am a computer programmer student, studing in georgain college.
    i like programming new application on java,c++,and c#. I spend most of my time learning code from website. 
    In my spare time i like to play cricket and drive or ride vehicle</p>
    </main>
    
<% include partials/footer.ejs %>
