<!--
Name :Rutvik patel
200305366-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!-- this is for redirecting the user to home page again-->
<% include partials/footer.ejs %>
