<!--
Name :Rutvik patel
200305366-->
<% include partials/header.ejs %>
    <main class="container">
    <h1><%= title %></h1>
    <h3>Hello!</h3>
    I am rutvik patel
    I am determined to learn new thingds and to help people. i always look forward to any situation as an oppurtunity.   
    </p>
    </main>
    
<% include partials/footer.ejs %>
