<% include partials/header.ejs %>
    <main class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </main>
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>
<% include partials/footer.ejs %>
