<!--
Name :Rutvik patel
200305366-->
<% include partials/header.ejs %>
    <main class="container">
    <h1><%= title %></h1>
    <p>Hobbies/Interest<%= title %></p>
    <p>
    <ul>
        <li>Programming new things and applications</li>
        <li>Drive cars and bikes</li>
        <li>Learn new things</li>
    </ul>
    </main>
    
<% include partials/footer.ejs %>
