<!--
Name :Rutvik patel
200305366-->
<% include partials/header.ejs %>
    <main class="container">
    <h1><%= title %></h1>
    <p>
    <ul>
        <li>I have made a temperature controlled window by ardiuno in our computer archetileture class </li>
        <li>I have even made a theatre managment c++ program in graade 12</li>
    </ul>
    </p>
    </main>
    
<% include partials/footer.ejs %>
